.section-columns {}

.section-columns .container {
    padding: 2em;
}

.section-columns .section-header {
    text-align: center;
}

.section-columns .section-content {
    display: flex;
    gap: 2em;
}

.section-columns .section-content article {
    flex: 1 1 30%;
    text-align: center;
}

.section-features {
    background: #fff;
}

.section-features img {
    width: 15%;
    margin: 0 auto;
}

.section-features h4 {
    color: #d01919;
}

.section-coaches h5 {
    color: #d01919;
}