body {
    padding-right: 50px;
}
a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}

.text-division {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left, .right {
    flex: 1;
    text-align: left;
}
.right {
    color: #979381;
}

.divider {
    border-left: 2px solid black;
    border-bottom: 2px solid;
    border-color: #979381;
    height: 150px;
    margin: 0px 10px;
}

.author {
    flex: 1;
    text-align: right;
}